{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="file:///C:/Users/Meoruane/Desktop/fontcss.css" />
    <link rel="stylesheet" type="text/css"
        href="file:///C:/Users/Meoruane/Desktop/Projet%20Pfe/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <script src="file:///C:/Users/Meoruane/Desktop/Projet%20Pfe/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!-- custom css file link  -->
    <link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet" />
    <title>{%block title%} {%endblock%}</title>
</head>

<body>
    {%block content%}

    {%endblock%}
</body>

</html>