{% extends 'main.html' %} {% block content %}
<div class="container">
  <h2>Creation d'un nouvelle Equipe</h2>
  <form action="" method="post">
    <div class="fields">
      <div class="input-field">
        {% csrf_token %}<label>Nom</label> {{ form.nom }}
      </div>
    </div>
    <div class="fields">
      <div class="input-field">
        {% csrf_token %}<label>Site Web</label> {{ form.site_web }}
      </div>
    </div>
    <div class="fields">
      <div class="input-field">
        {%csrf_token %} <label>Chef D'equipe</label>{{ form.chef_equipe }}
      </div>
    </div>
    <div class="fields">
      <div class="input-field">
        {%csrf_token %} <label>Laboratoire</label>{{ form.laboratoire}}
      </div>
    </div>

    <button class="sumbit">
      <span class="btnText">Submit</span>
      <i class="uil uil-navigator"></i>
    </button>
  </form>

  {% endblock content %}
</div>
