{% extends 'main.html' %} {% block content %}
<!-- /Sidebar -->

<!-- Page Header -->
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">Bienvenue {{user}} {{chef}}</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item active">
          Dashboard de L'equipe {{info_equipe.nom}} de la Division
          {{info_equipe.division}}
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->
{% comment %} Les carts {% endcomment %}
<div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <div class="dash-widget-info">
          <h3>{{nbr_cher_equipe}}</h3>
          <span>Chercheur</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
        <div class="dash-widget-info">
          <h3>{{nbr_Citation}}</h3>
          <span>Citation Total</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
        <div class="dash-widget-info">
          <h3>{{moy_indice_h}}</h3>
          <span>Moyenne d'indice H</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
        <div class="dash-widget-info">
          <h3>{{moy_indice_i10}}</h3>
          <span>Moyenne d'indice I10</span>
        </div>
      </div>
    </div>
  </div>
  <<<<<<< HEAD

  <!-- /Page Content -->
  ======= >>>>>>> 667ebaf7667f2bb6d31f0c494a841b0c09874c25
</div>
{% endblock content %}
