{% load static %}
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>     
    <!--<title>Login & Registration Form</title>-->

  </head>
  <body>
    <div class="container">
      <div class="forms">
          <div class="form login">
              <span class="title">Login</span>

              <form  method="POST" action="">
                
                  <div class="input-field">
                    {% csrf_token %}
                      <input type="email" name="email" placeholder="Enter your email" required>
                      <i class="uil uil-envelope icon"></i>
                  </div>
                  <div class="input-field">
                    {% csrf_token %}
                      <input type="password" class="password" name="password" placeholder="Enter your password" required>
                      <i class="uil uil-lock icon"></i>
                      <i class="uil uil-eye-slash showHidePw"></i>
                  </div>

                 
                  
                  <div class="input-field button">
                    {% csrf_token %}
                      <input type="submit"  value="Login Now">
                  </div>
                  <div class="login-signup">
                    <span class="text">Not a member ?
                        <a href="{% url 'register' %}" class="text login-link">Signup now</a>
                    </span>
                </div>
              </form>
            </div>
          </div>
         

          <div class="input-field button">
          {% for message in messages %}
          <p id="messages"> {{message}}</p>
          {% endfor %}
          <div>
        
    <script>
      const pwShowHide = document.querySelectorAll(".showHidePw"),
            pwFields = document.querySelectorAll(".password");
            pwShowHide.forEach(eyeIcon =>{
              eyeIcon.addEventListener("click", ()=>{
                  pwFields.forEach(pwField =>{
                      if(pwField.type ==="password"){
                          pwField.type = "text";
      
                          pwShowHide.forEach(icon =>{
                              icon.classList.replace("uil-eye-slash", "uil-eye");
                          })
                      }else{
                          pwField.type = "password";
      
                          pwShowHide.forEach(icon =>{
                              icon.classList.replace("uil-eye", "uil-eye-slash");
                          })
                      }
                  }) 
              })
          })
    </script> 
  </body>
</html>
