{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="description" content="Smarthr - Bootstrap Admin Template" />
    <meta
      name="keywords"
      content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <meta name="author" content="Dreamguys - Bootstrap Admin Template" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Dashboard - HRMS admin template</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css"></script>
    <link rel="shortcut icon" type="image/x-icon" href= {% static
    'images/facivon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/line-awesome.min.css' %}" />

    <link rel="stylesheet" href="{% static 'plugins/morris/morris.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="main-wrapper">
      {% include "header.html" %} {% include "sidebar.html" %}
      <div class="page-wrapper">
        <div class="content container-fluid">
          {% block content %}{% endblock content %}
        </div>
      </div>

      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static '/js/jquery-3.5.1.min.js'%}"></script>
    <!-- Bootstrap Core JS -->

    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'js/jquery.slimscroll.min.js'%}"></script>

    <!-- Chart JS -->

    <script src="{% static 'plugins/morris/morris.min.js'%}"></script>
    <script src="{% static 'plugins/raphael/raphael.min.js'%}"></script>
    <script src="{% static 'js/chart.js'%}"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/app.js'%}"></script>
  </body>
</html>
