{% extends 'main.html' %} {% block content %}
<style></style>
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      
      <h3 class="page-title">Le Profile De :{{chercheur1.first_name}} {{chercheur1.last_name}}</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Effectifs</a></li>
        <li class="breadcrumb-item active">Tous les Chercheurs</li>
        <li class="breadcrumb-item active">Profile</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="bi bi-chat-quote-fill"></i></span>
        <div class="dash-widget-info">
          <h3>{{apiData.cited_by.table.0.citations.all}}</h3>
          <span>Citations</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="bi bi-bookmarks-fill"></i></span>
        <div class="dash-widget-info">
          <h3>{{apiData.cited_by.table.1.h_index.all}}</h3>
          <span>Index H</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="bi bi-info-circle"></i></span>
        <div class="dash-widget-info">
          <h3>{{apiData.cited_by.table.2.i10_index.all}}</h3>
          <span>Index I10</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
    <div class="card dash-widget">
      <div class="card-body">
        <span class="dash-widget-icon"><i class="bi bi-bar-chart"></i></span>
        <div class="dash-widget-info">
          <h3>{{best_annee}}</h3>
          <span>Meilleur Année</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} profil {% endcomment %}
<div class="card mb-0">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-view">
          <div class="profile-img-wrap">
            <div class="profile-img">
              <a href="#"><img alt="" src="{{ user.image.url}}" /></a>
            </div>
          </div>
          <div class="profile-basic">
            <div class="row">
              <div class="col-md-5">
                <div class="profile-info-left">
                  <h3 class="user-name m-t-0 mb-0">{{chercheur1.first_name}} {{chercheur1.last_name}}</h3>
                  <h6 class="text-muted">{{chercheur1.speciality}}</h6>

                  <div class="small doj text-muted">
                    Date of Join : {{chercheur1.date_joined}}
                  </div>
                  <div class="staff-msg">
                    <a class="btn btn-custom" href="chat.html">Send Message</a>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <ul class="personal-info">
                  <li>
                    <div class="title">Etablisment:</div>
                    <div class="text">
                      <a href="">{{ etablisment.0}}</a>
                    </div>
                  </li>
                  <li>
                    <div class="title">Division:</div>
                    <div class="text">
                      <a href="">{{ division.0}}</a>
                    </div>
                  </li>

                  <li>
                    <div class="title">Equipe:</div>
                    <div class="text">
                      <a href="">{{ equipe.0}}</a>
                    </div>
                  </li>
                  <li>
                    <div class="title">Grade:</div>
                    <div class="text">
                      <a href="">{{chercheur1.grade}}</a>
                    </div>
                  </li>
                  <li>
                    <div class="title">Email:</div>
                    <div class="text">
                      <a href="">{{chercheur1.email}}</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="pro-edit">
            <a
              data-target="#profile_info"
              data-toggle="modal"
              class="edit-icon"
              href="#"
              ><i class="fa fa-pencil"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
</div>
{% comment %}
<div class="card tab-box">
  <div class="row user-tabs">
    <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
      <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item">
          <a href="#emp_profile" data-toggle="tab" class="nav-link active"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a href="#emp_projects" data-toggle="tab" class="nav-link"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a href="#bank_statutory" data-toggle="tab" class="nav-link"
            >Bank & Statutory <small class="text-danger">(Admin Only)</small></a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
{% endcomment %} {% endblock content %}
