{%load static%}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Dashboard</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span>
                        <span class="menu-arrow"></span></a>
                    <ul>
                        {% if perms.finalapp.view_etablisment%}
                        <li>
                            <a class="active" href="index.html">Etablisment Dashboard</a>
                        </li>
                        {%endif%}
                        {%if perms.finalapp.view_division%}
                        <li>
                            <a href="employee-dashboard.html">Division Dashboard</a>
                        </li>
                        {%endif%}
                        {%if perms.finalapp.view_laboratoire%}
                        <li>
                            <a href="employee-dashboard.html">Laboratoire Dashboard</a>
                        </li>
                        {%endif%}
                        {%if perms.finalapp.view_equipe%}
                        <li>
                            <a href="">Equipe Dashboard</a>
                        </li>
                        {%endif%}
                    </ul>
                </li>
                <li class="menu-title">
                    <span>Effectifs </span>
                </li>
                <li>
                    <a href="clients.html"><i class="la la-users"></i> <span>Etablismets</span></a>
                </li>
                <li>
                    <a href="clients.html"><i class="la la-users"></i> <span>Divisions</span></a>
                </li>
                <li>
                    <a href="clients.html"><i class="la la-users"></i> <span>Laboratoires</span></a>
                </li>
                <li>
                    <a href="clients.html"><i class="la la-users"></i> <span>Equipes</span></a>
                </li>
                <li class="submenu">
                    <a href="#">
                        <i class="la la-user"></i>
                        <span> Chercheurs</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul style="display: none">
                        <li><a href="employees.html"> Tout les Chercheurs</a></li>
                        <li><a href="holidays.html">Les Chefs Des Equipes</a></li>
                        <li>
                            <a href="leaves.html">Les Chefs Des Laboratoires</a>
                        </li>
                        <li>
                            <a href="leaves-employee.html">Les Chefs Des Divisions</a>
                        </li>
                        <li>
                            <a href="leaves-employee.html">Les Chefs Des Etablisment</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>